# This file contains common pin mappings for 
# (1) BIGTREETECH Manta M8P V2.0
# (2) Fysetc SB Combo v2, USB configuration
#
# Other components include
# (1) Raspberry Pi CM4 (lite, 4gb RAM)
# (2) Phaetus Rapido Plus Hotend 2 UHF
# (3) Stealthburner Toolhead with Neopixels and Galileo 2
# (4) White LED Chamber Lights
# (6) Nevermore filter and Exhaust filter
# 
# See docs/Config_Reference.md for a description of parameters.

[exclude_object]                # Must enable "label objects" in slicer
[pause_resume]			# Needed for pause & resume macros to function
[include mainsail.cfg]
[include /Macros/Start_End.cfg]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_270028001751313434373135-if00                # For USB Toolboard
canbus_uuid: e9f728d0e4b9
canbus_interface: can0

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 10600                # Recommended value after input shaping calibration    			
max_z_velocity: 15               
max_z_accel: 350
square_corner_velocity: 5.0

[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor SoC]
sensor_type: temperature_host

[temperature_sensor case]                # Chamber filter, had to rename after klipper update. Naming it as "chamber" caused error 
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PB0

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor)
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200
position_min: 0
position_endstop: 300                # Needs true location 
position_max: 300
homing_speed: 125                # Default 25
homing_retract_dist: 3
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC13
interpolate: True
run_current: 0.8        # TCM max 1.2, stepper motor max 1.4
sense_resistor: 0.110
stealthchop_threshold: 0

## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
endstop_pin: ^PF3
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
position_min: 0
position_endstop: 300                # Need to find true endstop location. Start by homing then finding 0,0 and measure 300mm from there
position_max: 300
homing_speed: 125                # Default 25
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PE3
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR3_A
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
full_steps_per_rotation: 200
position_max: 260        # Limited because of toolhead umbilical 
position_min: -5
homing_speed: 10
second_homing_speed: 5
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PB9
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

## Z1 Stepper - Rear Left on Motor5
[stepper_z1]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
uart_pin: PG14
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z2 Stepper - Rear Right on Motor6
[stepper_z2]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
full_steps_per_rotation: 200

[tmc2209 stepper_z2]
uart_pin: PG10
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z3 Stepper - Front Right on Motor7
[stepper_z3]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
full_steps_per_rotation: 200

[tmc2209 stepper_z3]
uart_pin: PD5
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 0.65
min_temp: 0
max_temp: 115
pwm_cycle_time: 0.02088
#pwm_cycle_time: 0.02227
#control: pid                    # Calibrated values found at the end of config
#pid_kp: 42.037
#pid_ki: 1.540
#pid_kd: 286.902

#####################################################################
# 	Probe
#####################################################################

[probe]
x_offset: 0
y_offset: 0
z_offset: 0                # z_offset is set in slicer per filament in gcode. See print_start macro for details
speed: 10
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.0075
samples_tolerance_retries: 3

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

[bed_mesh]                    # Still needs to be run 
speed: 300
horizontal_move_z: 7
mesh_min: 10, 10
mesh_max: 290,290
fade_start: 0.6
fade_end: 10.0
probe_count: 15,15                # Values should be odd, so one point is directly at bed center
algorithm: bicubic

#####################################################################
# 	Fan Control
#####################################################################
[heater_fan controller_fan1]      
pin: PF6
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

[heater_fan controller_fan2]      
pin: PF9
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

[heater_fan chamber]                # Currently not connected
pin: PF8
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.250
heater: heater_bed
heater_temp: 55                    # PLA printing temp, run fan at max speed
fan_speed: 1.0
heater_temp: 70                    # PETG printing temp, run fan at 50%
fan_speed: 0.50
heater_temp: 90                    # ASA/ABS printing temp, run fan at 10% to preserve heat
fan_speed: 0.10

[heater_fan nevermore]           
pin: PF7                           
kick_start_time: 0.250
heater: heater_bed
heater_temp: 40                    # PLA printing, run filter on 20% to decrease heat circulation
fan_speed: 0.2
heater_temp: 70                    # PETG printing, run fan at 50%
fan_speed: 0.50
heater_temp: 90                    # ASA/ABS printing, run fan at 75% to increase heat distribution and filtration
fan_speed: 0.75

#####################################################################
# 	LED Control
#####################################################################

[output_pin caselight]                # White LEDS
pin: PA3
pwm:true
shutdown_value: 0.0
value: 0.5                # Start light at 50%, 100% is too bright
cycle_time: 0.01

[neopixel sb_leds]
chain_count: 3
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 1.0
initial_BLUE: 0.0
initial_WHITE: 1.0                # Stealthburner lights start white/green

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800                # 30 minute

[safe_z_home]
home_xy_position: 150,150
speed: 100
z_hop: 10

[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
points:
	50,25
	50,225
	250,225
	250,25	
speed: 100 
horizontal_move_z: 7                # Default 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

#####################################################################
# 	Macros
#####################################################################
[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28
    G0 X150 Y150 Z30 F3600

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 43.406
#*# pid_ki = 1.539
#*# pid_kd = 306.010
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 60.0
#*# shaper_type_y = zv
#*# shaper_freq_y = 55.4
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 32.409
#*# pid_ki = 3.929
#*# pid_kd = 66.841
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.030000, 0.001250, -0.001250, -0.002500, -0.003750, -0.028750
#*# 	-0.012500, 0.001250, -0.006250, -0.002500, 0.006250, 0.001250
#*# 	0.006250, 0.010000, 0.001250, 0.011250, 0.008750, -0.007500
#*# 	0.010000, 0.013750, 0.012500, 0.016250, 0.012500, 0.010000
#*# 	0.026250, 0.032500, 0.030000, 0.027500, 0.027500, 0.032500
#*# 	0.046250, 0.056250, 0.061250, 0.067500, 0.082500, 0.086250
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 290.0
#*# min_y = 10.0
#*# max_y = 290.0
